/*
This is where to put SCSS for the location report that shows a map.

*/
@import "_placeholders.scss";
@import "_mixins.scss";

.pie-graph {
	display: inline-block;

	canvas {
		height: 40px;
		width: 40px;
	}

	&.big {
		float: right;

		canvas {
			height: 42px;
			width: 42px;
		}
	}
}



.location-report {
	@extend %page-base;
	a.modify-location, a.find-duplicate-location {
		@extend %selectable-link;

	}

	.title {
		display: flex;

		.search-and-title {
			flex-grow: 1;
			display: flex;
			width: 100%;

			a {
				font-size: 28px;
				flex-grow: 0;
				flex-shrink: 0;
				padding-top: 5px;
				width: 35px;
			}

			h1 {
				flex-grow: 1;
				line-height: 40px;
				vertical-align: middle;
			}
		}

		.universal-personal {
			width: 215px;
			white-space: nowrap;
			flex-grow: 0;
			flex-shrink: 0;
		}
	}

	.location-tags {
		padding: 0;

		.icon {
			display: none;
		}

		.location-tag {
			@extend %dark-link;

			display: inline-block;
			margin-bottom: 1px;
			border: 1px solid rgba($base_colour1, 0.3);
			padding: 6px 13px;
			background-color: rgba($base_colour1, 0.75);

			&:hover {
				background-color: rgba($base_colour1, 0.85);
			}
		}
	}

	&.show-location-tag-icons {
		.location-tag {
			.icon {
				display: block;
				font-size: 30px;
			}

			.name {
				display: none;
			}
		}
	}

	.map-and-box {
		position: relative;
		min-height: 200px;

		#map {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}

		.questions-box {
			position: absolute;
			top: 0;
			right: 0;
			padding: 5px;
			background-color: #235;
			box-shadow: 0 0 5px #ddd inset;
			border-radius: 4px;
			max-width: 350px;
			z-index: 1;

			p {
				color: #fff;

				a {
					color: #ddf;
				}
			}

			.title-bar {
				padding-bottom: 3px;
				height: 55px;
				border-bottom: 1px solid mix(#fff, #235, 20%);

				h3 {
					color: #fff;
					max-width: 250px;
					font-size: 16px;
					vertical-align: middle;
					display: table-cell;
				}

				.location-rating {
					position: relative;
					display: table-cell;
					vertical-align: top;

					* {
						text-shadow: 0 0 5px $base_colour1, 0 0 5px $base_colour1, 0 0 5px $base_colour1;
					}

					.pie-graph {
						margin-left: 7px;
						margin-right: 15px;
					}

					.percentage {
						position: absolute;
						top: 0;
						right: 0;
						color: #fff;
						font-size: 18px;
					}

					.foreground {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;

						.accessible-label {
							text-transform: uppercase;
							text-align: center;
							color: #fff;
							font-size: 9px;
							line-height: 11px;
						}

						.num-ratings {
							text-align: center;
							color: #fff;
							font-size: 8px;
							line-height: 11px;
						}
					}
				}
			}

			.question-category {
				a {
					color: #fff;
					padding: 5px 5px;
					display: block;
					text-decoration: none;

					&:hover {
						box-shadow: inset 25px 0px 25px -25px #358, inset -25px 0px 25px -25px #358;
						background-color: #000;
					}

					.category-name, .percentage {
						display: inline-block;
						vertical-align: top;
						padding-top: 10px;
						font-size: 1.22em;
					}

					.percentage {
						float: right;
					}
				}
			}
		}
	}

	.question-category {
		> a {
			border-top: 1px solid mix($base_colour1, #ffffff, 50%);

			&:hover {
				border-top: 1px solid mix($base_colour1, #ffffff, 10%);
			}
		}

		.title-bar {
			.pie-graph {
				display: table-cell;
				padding-right: 10px;
			}

			.question-category-name {
				display: table-cell;
				vertical-align: middle;
				font-size: 18px;
				font-weight: bold;
			}
		}
	}

	.title {
		position: relative;
		height: 50px;
		margin-bottom: 3px;
		box-shadow: 0 -6px 2px -2px rgba($base_colour1, 0.1) inset;

		h1 {
			margin: 0 0 0 0;
			padding: 0;
		}

		.universal-personal {
			position: absolute;
			right: 0;
			bottom: 8px;

			a {
				@extend %selectable-link;
			}
		}
	}
}


@media screen and (max-height: 630px) and (min-height: 480px) {
	body {
		.location-report .map-and-box .questions-box {
			@include location-report-box(13, 290);
		}
	}
}

@media only screen and (max-width: 1199px) {
	body {
		.location-report {
			.title {
				position: static;
				height: auto;
				padding-bottom: 4px;

				h1 {
					position: static;
				}

				.universal-personal {
					position: static;
					padding-top: 8px;
				}
			}
		}

	}
}

@media screen and (max-width: 991px) {
	html > body .location-report > .map-and-box {
		position: static;
	
		.questions-box {
			position: static;
			width: 100%;
			max-width: 100%;
			
			.title-bar {
				width: 100%;
				
				h3 {
					width: 80%; /* for browsers that don't support calc or vw */
					max-width: 80%;
					width: calc(100vw - 45px);
					max-width: calc(100vw - 45px);
				}
			}
		}
		
		#map {
			position: static;
			width: 100%;
			height: 300px; /* in case the device doesn't support vh units */
			height: 100vh;
			min-height: 200px;
		}
	}
}

@media screen and (min-width: 767px) and (max-width: 991px) {
	html body .location-report {
		.title {
			display: block;

			h1 {
				font-size: 28px;
			}
		}
	}
}

@media screen and (min-width: 400px) and (max-width: 767px) {
	html body .location-report {
		.title {
			display: block;

			a {
				padding-top: 2px;
			}

			.search-and-title h1 {
				font-size: 14px; /* for browsers that don't support vw units */
				font-size: 4.1vw;
				line-height: 16px;
				line-height: 4.2vw;
			}
		}
		&.show-location-tag-icons {
			.location-tag {
				padding-left: 7px;
				padding-right: 7px;

				.icon {
					font-size: 5.5vw;
				}
			}
		}
	}
}

@media screen and (max-height: 479px) and (min-height: 380px) {
	body {
		.location-report .map-and-box .questions-box {
			@include location-report-box(11, 253);
		}
	}
}

@media screen and (max-height: 379px) {
	body {
		.location-report {

			.map-and-box .questions-box {
				@include location-report-box(9, 222);
			}
		}
	}
}

@media screen and (min-width: 200px) and (max-width: 400px) {
	html body .location-report {
		padding-left: 0;
		padding-right: 0;

		.title {
			display: block;

			a {
				padding-top: 0;
			}

			.search-and-title h1 {
				font-size: 12px; /* for browsers that don't support vw units */
				font-size: 4vw;
				line-height: 4vw;
			}
		}

		&.show-location-tag-icons {
			.location-tag {
				padding-left: 5px;
				padding-right: 5px;

				.icon {
					font-size: 4vw;
				}
			}
		}
	}
}
