// Styles for the sign in feature

@import "_placeholders.scss";


.signin-form {
	margin: auto;
	width: 300px;

	.message {
		font-size: 1.3em;
	}
}

.sign-in {
	@extend %page-base;
	
	> div {
		margin-bottom: 20px;

		> h1 {
			margin-top: 0;
			padding-top: 15px;
		}
	}

	.remember-password {
		padding-top: 10px;
	}
}

@media screen and (max-width: 320px) {
	body .signin-form {
		width: 100%;
	}
}

@media screen and (min-width: 250px) and (max-width: 290px) {
	body .signin-form {
		label, a {
			font-size: 0.9em;
		}

		a {
			padding-top: 4px;
			display: inline-block;
		}
	}
}

@media screen and (max-width: 250px) {
	body {
		.signin-form {
			label {
				display: block;
			}

			a {
				float: none !important;
			}
		}

		.sign-in {
			> div {
				margin-bottom: 5px;
			}
		}
	}
}