@import "_placeholders.scss";

.suggestion-list{
    @extend %page-base;
    @extend %alternative-row-data;

    h1{
        margin-top: 0;
    }

    a{
        text-decoration: none !important;
    }

    .list-group-item{
        padding-right: 20px;
    }

    .username{
        padding-left: 5px;
    }

    .when_generated{
        float: right;
    }
    
}