
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$base_colour1: #153157;

%fashionable-link {
	&:hover {
		text-decoration: none;
	}
}

%page-base {
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: inset 0 7px 9px -7px #ddd;
	
	> h1 {
		margin-top: 0;
	}
}

@mixin social-media-large-button($colour) {
	background-color: $colour;
	border-color: $colour;
	transition: background-color 0.2s, border-color 0.2s;
	
	> div {
		color: $colour;
		border-right-style: solid;
		border-right-width: 1px;
		transition: color 0.2s;
	}
			
	&:hover, &:focus {
		background-color: darken($colour, 20%);
		border-color: darken($colour, 20%);

		> div {
			color: darken($colour, 20%);
		}
	} 
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

#logo {
	font-size: 26px;
	text-decoration: none;
}

header, footer {
	padding-left: 10px;
	padding-right: 10px;
}

// horizontal menu at top of every page
ul.nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
	
	li {
		float: left;
	}
}

html, body {
	background-color: #e7f3f5;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}

.content {
	text-align: center;
}

.login-form {
	margin: auto;
	width: 300px;
}

#main {
	min-height: 200px;
	> h1 {
		margin-top: 0;
		margin-left: 10px;
	}
}

footer {
	position: absolute;
	bottom: 0;
	right: 6px;
	left: 6px;
}

.container {
	background-color: #fff;
	position: relative;
	padding-bottom: 30px;
	min-height: 100vh;
	box-shadow: 0 0 15px #888;
}

.profile {
	@extend %page-base;
	
}

.our-vision {
	@extend %page-base;
	
}

.location-search {
	@extend %page-base;
	
}

.locations-by-tag {
	@extend %page-base;
	
}

.location-report {
	@extend %page-base;
}

.locations-by-keywords {
	@extend %page-base;
}

.terms-of-use {
	@extend %page-base;
}

.privacy-policy {
	@extend %page-base;
}

.sign-up {
	@extend %page-base;
	
	> .header {
		margin-bottom: 30px;

		> h1 {
			margin-top: 0;
			padding-top: 15px;
		}
	}
	
	.agreements {
		margin-top: 70px;
		margin-left: auto;
		margin-right: auto;
		line-height: 25px;
		color: #666;
		width: 350px;
	}
}

.home-page {
	min-height: 90vh;
	background-image: url('../images/home_background_1170px.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #818d87;
	color: #fff;
	
	.intro {
		width: 410px;
		padding-left: 85px;
		padding-top: 20vh;
		padding-right: 50px;
		padding-bottom: 50px;
		margin-right: auto;
		margin-bottom: 50px;
		background-color: rgba($base_colour1, 0.75);
		
		h1 {
			margin-bottom: 20px;
		}
		
		p {
			font-size: 1.2em;
		}
	}

	.home-inputs {
		width: 550px;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;

		.search {
			width: 100%;
			margin-top: 30px;

			form, table {
				width: 100%;
				padding: 0;
			}
			
			input {
				width: 100%;
			}
			
			.search-button {
				width: 40px;
			}
		}
	}
	
	.login-signup {
		
		a {
			@extend %fashionable-link;
		
			border: 1px solid rgba($base_colour1, 0.1);
			display: block;
			padding: 16px 30px;
			color: #fff;
			font-size: 1.4em;
			background-color: rgba($base_colour1, 0.1);
			box-shadow: 0 0 4px #fff inset;
			border-radius: 2px;
			transition: border-color 0.2s, background-color 0.2s;

			table {
				width: 100%;
				
				.user-icon {
					width: 33px;
				}
			}
			
			i {
				font-size: 2.3em;
			}
			
			&:hover {
				border-color: #fff;
				background-color: rgba($base_colour1, 0.5);
			}
		}
	}

	.location-tags {
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 40px;
		
		.location-tag {
			padding-left: 0;
			padding-right: 0;

			> a {
				@extend %fashionable-link;
				padding-top: 5px;
				height: 65px;
				text-align: center;
				display: block;
				width: 100%;
				font-weight: bold;
				font-size: 1.2em;
				color: #fff;
				cursor: pointer;
				background-color: rgba($base_colour1, 0.5);
				transition: background-color 0.2s;
				
				&:hover {
					background-color: rgba($base_colour1, 0.7);
				}
			}
		}
	}	
}

@media screen and (max-width: 550px) {
	body {
		.home {
			.home-inputs {
				width: auto;
			}
		}
	}
}

@media screen and (min-width: 751px) and (max-width: 970px) {
	body {
		.home-page {
			background-image: url('../images/home_background_970px.jpg');
		}
	}
}

@media only screen and (max-width: 750px) {
	body {
		.home-page {
			background-image: url('../images/home_background_750px.jpg');
		}
	}
}

@media only screen and (max-width: 991px) {
	body {
		.social-media-logins {
			width: 350px;
			padding-left: 0;
			padding-bottom: 0;
			border-left-width: 0;
			margin-left: auto;
			margin-right: auto;
		}
		.sign-up {
			.agreements {
				margin-bottom: 50px;
			}
		}
	}
}

@media only screen and (max-width: 1199px) {
	body {
		.home-page {
			.intro {
				padding-top: 30px;
				width: 550px;
				margin-left: auto;
				margin-right: auto;
			}
			
			.location-tags {
				margin-bottom: 80px;
			}
		}
		
	}
}

.signup-form {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.social-media-logins {
	padding-top: 40px;
	padding-bottom: 70px;
	padding-left: 80px;
	border-left: 1px solid #bbb;
	
	> a {
		display: block;
		height: 40px;
		width: 345px;
		padding-top: 1px;
		margin-top: 25px;
		border-radius: 3px;
		
		> i {
			text-align: center;
			font-size: 25px;
			width: 53px;
			padding-top: 11px;
			color: #fff;
			display: inline-block;
		}
		
		> div {
			padding-top: 8px;
			font-size: 16px;
			background-color: #fff;
			text-decoration: none;
			text-align: center;
			height: 38px;
			width: 290px;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}
		
		&.facebook {
			@include social-media-large-button(#3b5998);
		}
		
		&.google-plus {
			@include social-media-large-button(#ea4335);
		}
	}
}

.clean {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
	margin-top: 20px;
	display: block;
	width: 100%;
	font-size: 20px;
	border-bottom-color: #bbb;
	box-style: border-box;
	transition: border-color 0.2s, color 0.2s;
	@include placeholder {
		color: #bbb;
	}
	
	&:hover {
		border-bottom-color: #238;
		color: #238;
		
		@include placeholder {
			color: tint(#223388, 50%);
		}
	}
	
	&:focus {
		border-top-width: 0;
		border-left-width: 0;
		border-right-width: 0;
		border-bottom-color: #000;
		outline: none;

		@include placeholder {
			color: #888;
		}
	}
	
	&[type="submit"] {
		height: 38px;
		font-size: 18px;
		margin-top: 30px;
		border: 1px solid #337ab7;
		color: #337ab7;
		width: auto;
		padding-left: 40px;
		padding-right: 40px;
		border-radius: 19px;
		background-color: #fff;
		
		&:hover, &:focus {
			border-color: #000;
			color: #000;
		}
	}
}

#copyright {
	margin-left: 10px;
}
