
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// horizontal menu at top of every page
ul.nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
	
	li {
		float: left;
	}
}

html, body {
	background-color: #fff;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}

.content {
	text-align: center;
}

#main {
	min-height: 200px;
}