
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$base_colour1: #153157;

%fashionable-link {
	&:hover {
		text-decoration: none;
	}
}

%dark-link {
	@extend %fashionable-link;

	color: #fff;
	font-size: 1.4em;
	box-shadow: 0 0 4px #fff inset;
	border-radius: 2px;
	transition: border-color 0.2s, background-color 0.2s;
}

%page-base {
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: inset 0 7px 9px -7px #ddd;
	
	> h1 {
		margin-top: 0;
	}
}

@mixin social-media-large-button($colour) {
	background-color: $colour;
	border-color: $colour;
	transition: background-color 0.2s, border-color 0.2s;
	
	> div {
		color: $colour;
		border-right-style: solid;
		border-right-width: 1px;
		transition: color 0.2s;
	}
			
	&:hover, &:focus {
		background-color: darken($colour, 20%);
		border-color: darken($colour, 20%);

		> div {
			color: darken($colour, 20%);
		}
	} 
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

html, body {
	font-family: arial;
	background-color: #e7f3f5;
	font-weight: 100;
	min-height: 100%;
}

html {
	position: relative;
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
}

h1, h2, h3 {
	font-family: Didact Gothic, arial;
}

.pie-graph {
	display: inline-block;

	canvas {
		height: 40px;
		width: 40px;
	}

	&.big {
		float: right;

		canvas {
			height: 42px;
			width: 42px;
		}
	}
}

#map {
	background-color: #ddd;
}

#logo {
	font-size: 26px;
	text-decoration: none;
	background-image: url('../images/logo_37px_high.jpg');
	background-repeat: no-repeat;
	padding-left: 45px;
}

header {
	padding-left: 10px;
	padding-right: 10px;
}

// horizontal menu at top of every page
ul.nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
	
	li {
		float: left;
	}
}

.content {
	text-align: center;
}

.signin-form {
	margin: auto;
	width: 300px;
}

#main {
	min-height: 200px;
	> h1 {
		margin-top: 0;
		margin-left: 10px;
	}
}

footer {
	position: absolute;
	bottom: 0; 
}

.container {
	background-color: #fff;
	position: relative;
	min-height: 100%;
	box-shadow: 0 0 15px #888;
}

.box {
	padding: 10px 15px;
	background-color: #eef;
	border: 1px solid #aaa;
	box-shadow: 0 0 4px #ccc inset;
	border-radius: 3px;
	
	.form-group {
		margin-bottom: 7px;
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.profile {
	@extend %page-base;
	
	h1 {
		padding-bottom: 20px;
		border-bottom: 3px solid mix($base_colour1, #ffffff, 50%);
	}
	
	.upload-photo {
		background-color: mix($base_colour1, #ffffff, 80%);
		display: inline-block;
		text-align: center;
		line-height: 200px;
		font-size: 20px;
		color: mix($base_colour1, #ffffff, 20%);
		width: 100%;
		min-height: 200px;
	}
}

.our-vision {
	@extend %page-base;
	
}

.location-search {
	@extend %page-base;
	
}

.locations-by-tag {
	@extend %page-base;
}

.password-recovery {
	@extend %page-base;
}

.contact {
	@extend %page-base;
	
	h1 {
		padding-top: 20px;
		text-align: center;
		margin-bottom: 20px;
	}
	
	.contact-form {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.sent-message {
		font-size: 1.5em;
		
		strong {
			line-height: 70px;
			
			.sent {
				font-size: 1.3em;
			}
		}
	}
}

.log-in {
	@extend %page-base;
	
	> div {
		margin-bottom: 20px;

		> h1 {
			margin-top: 0;
			padding-top: 15px;
		}
	}

	.remember-password {
		padding-top: 10px;

		label {
			font-weight: 100;
		}
	}
}

.location-report {
	@extend %page-base;
	
	.map-and-box {
		position: relative;
		min-height: 200px;
		
		#map {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}

		.questions-box {
			position: absolute;
			top: 100px;
			left: 50%;
			margin-left: 50px;
			padding: 5px;
			max-width: 350px;
			background-color: #235;
			box-shadow: 0 0 5px #ddd inset;
			border-radius: 4px;
			
			p {
				color: #fff;
				
				a {
					color: #ddf;
				}
			}
			
			.title-bar {
				padding-bottom: 3px;
				height: 55px;
				border-bottom: 1px solid mix(#fff, #235, 20%);
			
				h3 {
					color: #fff;
					max-width: 250px;
					font-size: 16px;
					vertical-align: middle;
					display: table-cell;
				}

				.location-rating {
					position: relative;
					display: table-cell;
					vertical-align: top;
					
					* {
						text-shadow: 0 0 5px $base_colour1, 0 0 5px $base_colour1, 0 0 5px $base_colour1;
					}
					
					.pie-graph {
						margin-left: 7px;
						margin-right: 15px;
					}
					
					.percentage {
						position: absolute;
						top: 0;
						right: 0;
						color: #fff;
						font-size: 18px;
					}
					
					.foreground {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;

						.accessible-label {
							text-transform: uppercase;
							text-align: center;
							color: #fff;
							font-size: 9px;
							line-height: 11px;
						}
						
						.num-ratings {
							text-align: center;
							color: #fff;
							font-size: 8px;
							line-height: 11px;
						}
					}
				}
			}
			
			.question-category {
				a {
					color: #fff;
					padding: 5px 5px;
					display: block;
					text-decoration: none;
					 
					&:hover {
						box-shadow: inset 25px 0px 25px -25px #358, inset -25px 0px 25px -25px #358;
						background-color: #000;
					}
	
					.category-name, .percentage {
						display: inline-block;
						vertical-align: top;
						padding-top: 10px;
						font-size: 1.22em;
					}
					
					.percentage {
						float: right;
					}
				}
			}
		}
	}
	
	.question-category {
		> a {
			border-top: 1px solid mix($base_colour1, #ffffff, 50%);
			
			&:hover {
				border-top: 1px solid mix($base_colour1, #ffffff, 10%);
			}
		}
	
		.title-bar {
			.pie-graph {
				display: table-cell;
				padding-right: 10px;
			}
		
			.question-category-name {
				display: table-cell;
				vertical-align: middle;
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
	
	.title {
		position: relative;
		height: 50px;
		margin-bottom: 3px;
		box-shadow: 0 -6px 2px -2px rgba($base_colour1, 0.1) inset;
		
		h1 {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 0 0 0;
			padding: 0;
		}
		
		.universal-personal {
			position: absolute;
			right: 0;
			bottom: 8px;
			
			a {
				@extend %dark-link;
				
				padding: 5px 10px;
				background-color: rgba($base_colour1, 0.5);
				
				&:hover {
					background-color: rgba($base_colour1, 0.7);
				}

				&.selected {
					background-color: rgba($base_colour1, 0.95);
				}
			}
		}		
	}
	
	.location-tags {	
		.location-tag {
			@extend %dark-link;
		
			display: inline-block;
			margin-bottom: 1px;
			border: 1px solid rgba($base_colour1, 0.3);
			padding: 6px 13px;
			background-color: rgba($base_colour1, 0.55);
			
			&:hover {
				background-color: rgba($base_colour1, 0.75);
			}
		}
	}
}

.locations-by-keywords {
	@extend %page-base;
}

.terms-of-use {
	@extend %page-base;
}

.privacy-policy {
	@extend %page-base;
}

.sign-up {
	@extend %page-base;
	
	> h1 {
		text-align: center;
		margin-bottom: 40px;
	}
	
	> .header {
		margin-bottom: 30px;

		> h1 {
			margin-top: 0;
			padding-top: 15px;
		}
	}
	
	.success {
		font-size: 1.5em;
	}
	
	.agreements {
		margin-top: 70px;
		margin-left: auto;
		margin-right: auto;
		line-height: 25px;
		color: #666;
		width: 350px;
	}
}

.home-page {
	min-height: 94vh;
	min-height: calc(100vh - 40px);
	background-image: url('../images/home_background_1170px.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #818d87;
	color: #fff;
	
	.intro {
		width: 410px;
		padding-left: 85px;
		padding-top: 20vh;
		padding-right: 50px;
		padding-bottom: 50px;
		margin-right: auto;
		margin-bottom: 50px;
		background-color: rgba($base_colour1, 0.75);
		
		h1 {
			margin-bottom: 20px;
		}
		
		p {
			font-size: 1.2em;
		}
	}

	.home-inputs {
		width: 550px;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;

		.sign-in-sign-up {
			font-weight: bold;
		}

		.search {
			width: 100%;
			margin-top: 30px;

			form, table {
				width: 100%;
				padding: 0;
			}
			
			input {
				width: 100%;
				
				&[name='address'] {
					margin-bottom: 15px;
				}
			}
			
			.search-button {
				width: 40px;
			}
		}
	}
	
	.signin-signup {
		
		a {
			@extend %dark-link;
		
			border: 1px solid rgba($base_colour1, 0.1);
			display: block;
			padding: 16px 30px;
			background-color: rgba($base_colour1, 0.25);

			table {
				width: 100%;
				
				.user-icon {
					width: 33px;
				}
			}
			
			i {
				font-size: 2.3em;
			}
			
			&:hover {
				border-color: #fff;
				background-color: rgba($base_colour1, 0.5);
			}
		}
	}

	.location-tags {
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 40px;
		
		.location-tag {
			padding-left: 0;
			padding-right: 0;

			&:nth-last-child(3), &:nth-last-child(2), &:nth-last-child(1) {
				> a {
					border-bottom-width: 0;
				}
			}
			
			&:nth-child(3n + 1) {
				> a {
					border-left-width: 0;
				}
			}

			> a {
				@extend %fashionable-link;
				padding: 5px 4px 0 4px;
				height: 105px;
				display: flex;
				align-items: center;
				text-align: center;
				justify-content: center;
				width: 100%;
				font-weight: bold;
				font-size: 1.3em;
				color: #fff;
				cursor: pointer;
				background-color: rgba($base_colour1, 0.5);
				border-left: 1px solid #fff;
				border-bottom: 1px solid #fff;
				transition: background-color 0.2s;
								
				&:hover {
					background-color: rgba($base_colour1, 0.7);
				}
			}
		}
	}	
}

@media screen and (max-width: 450px) {
	html > body {
		.signup-form {
			width: 100%;
		}

		div.social-media-signins {
			width: 305px;
			> a {
				width: 300px;
				
				> div {
					width: 242px;
				}
			}
		}

		.sign-up .agreements {
			width: 100%;
		}

		#copyright {
			// keep the copyright notice on a single line.
			// Use em for older browsers not supporting vw units.
			font-size: 0.8em;

			font-size: 3.3vw;
		}
	}
}

@media screen and (max-width: 550px) {
	html > body {
		.nav > li > a {
			// Some pixel units for older browsers not supporting vw units
			padding-left: 7px;
			padding-right: 7px;

			// vw units for newer browsers
			padding-left: 2vw;
			padding-right: 2vw;
		}

		.home-page {
			.intro {
				width: 100%;

				// Some pixel units for older browsers not supporting vw units
				padding-left: 30px;
				padding-right: 30px;

				padding-right: 10vw;
				padding-left: 10vw;
			}
			.home-inputs {
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 751px) and (max-width: 970px) {
	body {
		.home-page {
			background-image: url('../images/home_background_970px.jpg');
		}
	}
}

@media only screen and (max-width: 750px) {
	body {
		.home-page {
			background-image: url('../images/home_background_750px.jpg');
		}
	}
}

@media only screen and (max-width: 767px) {
	body {
		.home-page {
			.home-inputs {
				> .location-tags {
					> div > .location-tag {
						> a {
							border-left-width: 1px;
							border-bottom-width: 1px;
						}
						
						&:nth-last-child(2), &:nth-last-child(1) {
							> a {
								border-bottom-width: 0;
							}
						}
						
						&:nth-child(2n + 1) {
							> a {
								border-left-width: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	body {
		.social-media-signins {
			width: 350px;
			padding-left: 0;
			padding-bottom: 0;
			border-left-width: 0;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;
		}
		
		.sign-up {
			.agreements {
				margin-bottom: 50px;
			}
		}
	}
}

@media only screen and (max-width: 1199px) {
	body {
		.home-page {
			.intro {
				padding-top: 30px;
				width: 550px;
				margin-left: auto;
				margin-right: auto;
			}
			
			.location-tags {
				margin-bottom: 80px;
			}
		}

		.location-report {
			.title {
				position: static;
				height: auto;
				padding-bottom: 4px;
				
				h1 {
					position: static;
				}
				
				.universal-personal {
					position: static;
					padding-top: 8px;
				}
			}
		}
		
	}
}

.signup-form {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.social-media-signins {
	padding-top: 40px;
	padding-bottom: 70px;
	padding-left: 80px;
	border-left: 1px solid #bbb;
	
	> a {
		display: block;
		height: 40px;
		width: 347px;
		padding-top: 1px;
		margin-top: 25px;
		border-radius: 3px;
		
		> i {
			text-align: center;
			font-size: 25px;
			width: 53px;
			padding-top: 11px;
			color: #fff;
			display: inline-block;
		}
		
		> div {
			padding-top: 8px;
			font-size: 16px;
			background-color: #fff;
			text-decoration: none;
			text-align: center;
			height: 38px;
			width: 290px;
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}
		
		&.facebook {
			@include social-media-large-button(#3b5998);
		}
		
		&.google-plus {
			@include social-media-large-button(#ea4335);
		}
	}
}

.clean {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
	margin-top: 20px;
	display: block;
	width: 100%;
	font-size: 20px;
	border-bottom-color: #bbb;
	box-style: border-box;
	transition: border-color 0.2s, color 0.2s;
	
	@include placeholder {
		color: #bbb;
	}

	@at-root #{selector-unify(&, textarea)} {
		border-top-width: 1px;
		border-left-width: 1px;
		border-right-width: 1px;
	}
	
	&:hover {
		border-color: #238;
		color: #238;
		
		@include placeholder {
			color: tint(#223388, 50%);
		}
	}
		
	&:focus {
		border-color: #000;
		outline: none;

		@include placeholder {
			color: #888;
		}
	}
	
	&[type="submit"] {
		height: 38px;
		font-size: 18px;
		margin-top: 30px;
		border: 1px solid #337ab7;
		color: #337ab7;
		width: auto;
		padding-left: 40px;
		padding-right: 40px;
		border-radius: 19px;
		background-color: #fff;
		
		&:hover, &:focus {
			border-color: #000;
			color: #000;
		}
	}
}
